#Ist ein Element vorhanden?

Mit Hilfe von *in* lässt sich bestimmen, ob ein Element in einer Sequenz vorhanden ist.

In [ ]:
lst = ["eins",2,3.0,"vier",5,"sechs","sieben"]

# Suche nach einzelnen Elementen

#Beispiel:
3.0 in lst

In [ ]:
# Suche nach einzelnen Buchstaben und Sequenzen:

s = "Dies ist ein Test-String"

#Beispiel: 
#1 Bestimmter Buchstabe

#2 
if "z"

#3 Teilstring suche
"ist" in s

Es lässt sich aber nicht überprüfen, ob eine Teilliste in einer Liste auftaucht.

In [ ]:
[2,3] in [1,2,3,4]

False

Prüfen des Gegenteils:

In [ ]:
#"a" in "Hallo Muthesius"

#"a" not in "Hallo Muthesius"

# Verkettung von Sequenzen
Mit dem + Operator lassen sich Strings zusammenführen

In [ ]:
vorname = "Martin"
nachname = "Fischbock"
zusammengesetzt = vorname + " " + nachname
zusammengesetzt

In [ ]:
s = "Musik"
t = "instrument"
s += t
s

'Musikinstruments'

**Wichtig: Bei immutable Datentypen wird eine neue Instanz aufgemacht!**

In [ ]:
#Immutable Datentyp String

Musikinstrument
instrument
Musik

In [ ]:
#Mutable Datentyp Liste

[1, 2, 3, 4]
[3, 4]
[1, 2, 3, 4]

# Wiederholung von Sequenzen
Mit dem * Operator lassen sich neue Sequenzen bilden die n-Kopien enthalten der Sequenz.

In [ ]:
3 * "ABC"

'ABCABCABC'

In [ ]:
"XYZ" * 4

'XYZXYZXYZXYZ'

In [ ]:
s = "Hipp"
t = "Hurra"

HippHippHurra

In [ ]:
[1,2] * 3

[1, 2, 1, 2, 1, 2]

# Zugriff auf bestimmte Elemente einer Sequenz
Jedem Element in einer Sequenz ist ein Index zugewiesen. Angefangen mit 0 kann man über den [ ] Operator darauf zugreifen.

In [ ]:
alphabet = "ABCDEFGHIKLMNOPQRSTUVWXYZ"

#Aufgabe: Greife auf das dritte Elemte zu:

#Aufagbe: Greife auf das 4 Element zu:

C
4

Zugriff auf die letzten Elemet ist ebennfalls möglich und über den umgekehrten Index möglich. Das letzte Element hat den Index -1, das vorletzte -2 usw..

In [ ]:
#Aufgabe: Greife auf das letzte Element vom Alphabet zu: 

#Aufagbe: Greife auf das vorletzte Element aus l zu:

Z
8

Es lassen sich auch Bereiche aus der Sequenz rausgeben mit Hilfe des : Operators. Der erste Index vor : gibt das erste Element an, welches herrausgegeben werden soll. Der Index nach : gibt an, welches Element **nicht** mehr in der Liste ist.

In [ ]:
string = "Dies ist ein WICHTIGER String"
#Aufgabe: Gib nur den Teil "Wichtiger" aus.

WICHTIGER

In [ ]:
# Extraktion aus einer Liste
lst = [1,2,3,"vier","fünf","sechs",7,8,"neun"]
#Aufgabe: Gib das vierte bis siebte Element aus:

['vier', 'fünf', 'sechs', 7]

In [ ]:
#Slicing ist auch möglich (Mischung von positiven und negativen Indizes):

meise

In [ ]:
# Start und Stopp werden beim weglassen automatisch gesetzt.

ABCDEFGHIKLM
['fünf', 'sechs', 7, 8, 'neun']

In [ ]:
# Mit Hilfe des [:] Operators wird eine echte Kopie der Sequenz erzeugt:
s1 = ["Kunsthochschule"]
s2 = s1 


#Während:
s2 = s1[:]

True
True
True
False

In [ ]:
#Schrittweisen können ebenfalls beim Slicing eingesetzt werden. 
#Hierfür wird hinter die Indizes die Schrittweite (step) eingetragen:

lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]


#Die 2 gibt an, dass nur jedes zweite Element benutzt wird.

#Sequenzen lassen sich auch mit einer negativen Schrittweite umddrehen:

text = "Guter txeT"


#Wichtig: Bei einer negativen Schrittweite werden Anfang und Ende vertauscht

#Zudem: Wenn die Indizes die Ober oder Untergrenze überschreiten/unterschreiten,
#wird der maximal/minimal zulässige Wert angenommen. Elemente außerhalb des 
#Indizes sind leer. 

liste = [1,2,3,4,5,6,7,8,9,0]

# Länge einer Sequenz
Mit der Build-in Dunction len lässt sich die Länge einer Sequenzen ausgeben.

In [ ]:
liste = [1,2,3,4,5,6,7,8,9,0]

10
25

# Kleinstes und größtes Element einer Liste ausgeben
Die Build-In Funktionen *min* und *max* geben das kleinste und größte Element aus

In [ ]:
print(min(liste))
print(max(liste))

#Wichtig: Die zu vergleichenden Datentypen müssen eine Ordnungsrelation haben
#Strings und Zahlen lassen sich nicht vergleichen

temp = [1,2,"drei","vier"]


#Aber: 
print(max(alphabet))
#Für Buchstaben für die Ordnungsrelation des Alphabets genutzt.

# Position eines Elements mit Hilfe von s.index(x,[i,j])

In [ ]:
ziffern = [1,2,3,4,5,6,7,8,9,0]


string = "Hallo Muthesius"

2
6

In [ ]:
wiederholendeZiffern = [22,44,55,66,11,22,33,44]

0
5
7
7

In [ ]:
wiederholendeZiffern.index(12)

ValueError: ignored

# Anzahl der Vorkommen eines Elementes zählen mit s.count(x)

In [ ]:
vieleZiffern.count(22)

2

# Listen
Bei Listen haben wir einen mutable Datentypen, der neue Operationen zulässt, die bei immutable Datentypen nicht zur Verfügung stehen. 
Im Gegensatz zu Strings können Listen unterschiedliche Datentypen speichern (Strings, Zahlen, weitere Listen).
Syntax: liste = [x,y,z]

In [ ]:
l = [1,0.5,"String",2]

[1, 0.5, 'String', 2]

# Verändern eines Wertes innerhalb der Liste mit Zuweisung [ ]

In [ ]:
liste = [1,2,3,4,5,6,7,8,9,0]

[1, 2, 3, 420, 5, 6, 7, 8, 9, 0]

In [ ]:
#Aber für Strings:
string = "HierStehtText"

TypeError: ignored

# Ersetzen von Teillisten und einfügen von neuen Elementen

In [ ]:
einkaufen = ["Brot","Wasser","Milch","Ovomaltine","Reis"]

['Brötchen', 'Selter', 'Milch', 'Ovomaltine', 'Reis']

In [ ]:
#Mit Steps arbeiten:
liste = [1,2,3,4,5,6,7,8,9,0]

[1, 2, 'drei', 4, 5, 'sechs', 7, 8, 'neun', 0]

In [ ]:
#Aber:
liste = [1,2,3,4,5,6,7,8,9,0]

#Python erwartet bei dieser Schrittweite ein weiteres Element, welches nicht vorhanden ist

# Element und Teilliste löschen: del zusammen mit [ ]

In [ ]:
s = [1,2,3,4,5,6,7,8,9,0]

[1, 2, 4, 5, 6, 7, 8, 9, 0]

In [ ]:
#Löschen von ganzen Teilsequenzen
s = [1,2,3,4,5,6,7,8,9,0]

[1, 2, 3, 8, 9, 0]

In [ ]:
#Löschen mit Steps
s = [1,2,3,4,5,6,7,8,9,0]

[2, 4, 6, 8, 0]

# Methoden von List-Instanzen

In [ ]:
# s.append(x)
# Hängt x an das Ende von Liste s an

s = [1,2,3]

[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [ ]:
# s.extend(t) 
# Hängt die Elemente von Liste t an das Ende von Liste s

s = [1,2,3]
t = [4,5,6]

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 4, 5, 6]

In [ ]:
# s.insert(i,x)
# Fügt an der Stelle i das Element x in. Alle nachfolgenden Elemente haben einen 
# um eins erhöhte Index
s = [1,2,3]

In [ ]:
# s.pop([i]) gibt das i-te Element der Liste aus. Wird i ausgelassen wird einfach 
# das letzte Element ausgegeben. 

alphaListe = ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"]

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
D
Z

In [ ]:
# s.remove(x) entfernt das (erste) Element x aus einer Liste 

s = [1,2,3,4,1,2,3,4]

[2, 3, 4, 1, 2, 3, 4]

In [ ]:
# s.reverse() kehrt die Reihen
s = [1,2,3,4,5,6,7,8,9,0]

[0, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# s.sort([key,reverse]) Sortiert die Liste s
s = [1,4,2,3,42,234,5,2,4,1,4,8,9,6,67546,45,34,23,23]


# key erwartet eine Funktion. So kann zum Beispiel die len-Funktion benutzt werden
# um die Elemente anhand ihrer Zeichenlänge zu sortieren. 

l = ["Katharina", "Peter", "Jan", "Florian", "Paula", "Ben"]


# Hier werden aber nicht die direkten Werte verglichen, sondern die Ausgabe der 
# Funktion beim Parameter key.
# reverse erwartet einen Boolwert reverse = True

[1, 1, 2, 2, 3, 4, 4, 4, 5, 6, 8, 9, 23, 23, 34, 42, 45, 234, 67546]
['Jan', 'Ben', 'Peter', 'Paula', 'Florian', 'Katharina']

**Allgemein:** Listen speichern keine Instanzen sondern nur Referenzen!

# tuple
Listen haben den Vorteil, dass sie veränderlich/flexibel sind und deswegen häufig gewählt werden. Der Nachteil ist, dass sie auf Grund der flexibilität viele Ressourcen benötigen. Es ist aber nicht immer notwendig so flexibel zu sein, weswegen einfach nur das Speichern der Referenzen im Vordergrund steht. 
Deswegen gibt es den mutable Datentyp tuple.

In [ ]:
#Erzeugen einer tuple

a = (1,2,3,4,5,6,7)

(1, 2, 3, 4, 5, 6, 7)

4